$color-white: #f7f7f7;
$color-black: #000000;

* {
    box-sizing: border-box;
}
// không thể bôi đen
.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
}
#spinner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.315);
}

header {
    position: relative;
    width: 100%;
    .header_top {
        // height: 45px;
        background-color: $color-black;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        a {
            color: $color-white;
            // margin-left: 20px;
            img {
                cursor: pointer;
                width: 58px;
                height: 50px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
        }
        .content.row {
            margin: auto 0;
            .shopping {
                display: flex;
                position: relative;
                .quantity {
                    background-color: red;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 20px;
                }
            }
            a {
                color: $color-white;
                margin-right: 20px;
                text-decoration: none;
            }
        }
    }
    .header_product {
        a {
            font-family: Inter;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 0em;
            text-decoration: none;
            color: $color-white;
            opacity: 0.7;
            transition: 0.3s;
            &:hover {
                opacity: 1;
            }
        }
    }
}
.product {
    .product_header {
        h2 {
            font-family: Inter;
            font-size: 40px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    .product_content {
        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }
    }
}
// cart
.cart {
    position: fixed;
    background-color: brown;
}

// test
